<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="camera-qr" data-model-id="2:12">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="div"></div>
          <img class="full-battery" src="https://c.animaapp.com/K2AOKRfM/img/full-battery@2x.png" />
          <img class="wi-fi" src="https://c.animaapp.com/K2AOKRfM/img/wi-fi@2x.png" />
          <img class="signal" src="https://c.animaapp.com/K2AOKRfM/img/signal@2x.png" />
          <div class="text-wrapper">21:21</div>
          <img class="heart" src="https://c.animaapp.com/K2AOKRfM/img/heart@2x.png" />
          <div class="frame"><img class="camera" src="https://c.animaapp.com/K2AOKRfM/img/camera@2x.png" /></div>
          <p class="p">Leia o Qr Code e visualize o cardápio</p>
          <div class="text-wrapper-2">ou insira o código</div>
          <div class="ellipse"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <img class="img" src="https://c.animaapp.com/K2AOKRfM/img/rectangle-62.svg" />
          <div class="ellipse-2"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <img class="rectangle-6" src="https://c.animaapp.com/K2AOKRfM/img/rectangle-66.svg" />
          <div class="rectangle-7"></div>
        </div>
      </div>
    </div>
  </body>
</html>
