<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cardapio" data-model-id="6:15">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="div"></div>
          <img class="full-battery" src="https://c.animaapp.com/GPl82uOe/img/full-battery@2x.png" />
          <img class="wi-fi" src="https://c.animaapp.com/GPl82uOe/img/wi-fi@2x.png" />
          <img class="signal" src="https://c.animaapp.com/GPl82uOe/img/signal@2x.png" />
          <div class="text-wrapper">21:21</div>
          <img class="heart" src="https://c.animaapp.com/GPl82uOe/img/heart@2x.png" />
          <div class="text-wrapper-2">Restaurante Selecionado:</div>
          <div class="text-wrapper-3">Tio Armênio.</div>
          <div class="text-wrapper-4">Cardápio</div>
          <div class="rectangle-2"></div>
          <img class="img" src="https://c.animaapp.com/GPl82uOe/img/rectangle-34.svg" />
          <img class="rectangle-3" src="https://c.animaapp.com/GPl82uOe/img/rectangle-35.svg" />
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="text-wrapper-5">Entradas</div>
          <div class="text-wrapper-6">Carnes</div>
          <div class="text-wrapper-7">Ovinos</div>
          <div class="text-wrapper-8">Filé Chateaubriand</div>
          <p class="p">Ao molho de funghi negro com risoto de alho poró.</p>
          <div class="text-wrapper-9">R$ 114,00</div>
          <div class="text-wrapper-10">Filé a Moda</div>
          <p class="text-wrapper-11">Ao molho do Chefe, com Arroz no próprio e Purê.</p>
          <div class="text-wrapper-12">R$ 110,00</div>
          <div class="text-wrapper-13">Picanha Grelhada</div>
          <p class="text-wrapper-14">Com fetucinne aos 4 queijos.</p>
          <div class="text-wrapper-15">R$ 126,00</div>
          <img class="user" src="https://c.animaapp.com/GPl82uOe/img/user-2@2x.png" />
          <img class="user-2" src="https://c.animaapp.com/GPl82uOe/img/user-2@2x.png" />
          <img class="user-3" src="https://c.animaapp.com/GPl82uOe/img/user-2@2x.png" />
          <div class="rectangle-7"></div>
          <div class="text-wrapper-16">Peixe</div>
          <img
            class="amp-picanha-grelhada"
            src="https://c.animaapp.com/GPl82uOe/img/amp-picanha-grelhada-feed@2x.png"
          />
          <img class="IMG" src="https://c.animaapp.com/GPl82uOe/img/img-8232-e1637598462128@2x.png" />
          <img
            class="mignon-grelhado-com"
            src="https://c.animaapp.com/GPl82uOe/img/mignon-grelhado-com-molho-de-trufas-negras-e-risoto-cremoso-de-f@2x.png"
          />
          <div class="ellipse"></div>
          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <img class="rectangle-10" src="https://c.animaapp.com/GPl82uOe/img/rectangle-62.svg" />
          <div class="ellipse-2"></div>
          <div class="rectangle-11"></div>
          <div class="rectangle-12"></div>
          <img class="rectangle-13" src="https://c.animaapp.com/GPl82uOe/img/rectangle-66.svg" />
          <div class="ellipse-3"></div>
          <img class="rectangle-14" src="https://c.animaapp.com/GPl82uOe/img/rectangle-100.svg" />
          <img class="rectangle-15" src="https://c.animaapp.com/GPl82uOe/img/rectangle-101.svg" />
          <div class="ellipse-4"></div>
          <img class="rectangle-16" src="https://c.animaapp.com/GPl82uOe/img/rectangle-100.svg" />
          <img class="rectangle-17" src="https://c.animaapp.com/GPl82uOe/img/rectangle-101.svg" />
          <div class="ellipse-5"></div>
          <img class="rectangle-18" src="https://c.animaapp.com/GPl82uOe/img/rectangle-100.svg" />
          <img class="rectangle-19" src="https://c.animaapp.com/GPl82uOe/img/rectangle-101.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
