<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="restaurantes" data-model-id="2:20">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="div"></div>
          <img class="full-battery" src="https://c.animaapp.com/h37XWKYs/img/full-battery@2x.png" />
          <img class="wi-fi" src="https://c.animaapp.com/h37XWKYs/img/wi-fi@2x.png" />
          <img class="signal" src="https://c.animaapp.com/h37XWKYs/img/signal@2x.png" />
          <div class="text-wrapper">21:21</div>
          <img class="heart" src="https://c.animaapp.com/h37XWKYs/img/heart@2x.png" />
          <div class="rectangle-2"></div>
          <img class="search" src="https://c.animaapp.com/h37XWKYs/img/search@2x.png" />
          <p class="p">Não achou seu restaurante? Pesquise aqui</p>
          <div class="text-wrapper-2">Restaurantes Próximos:</div>
          <p class="text-wrapper-3">baseado em sua localização atual.</p>
          <div class="rectangle-3"></div>
          <div class="text-wrapper-4">Fiorentina.</div>
          <div class="text-wrapper-5">Amazonas Shopping, 2 Piso.</div>
          <div class="rectangle-4"></div>
          <div class="text-wrapper-6">Coco Bambu.</div>
          <div class="text-wrapper-7">Amazonas Shopping, 2 Piso.</div>
          <div class="rectangle-5"></div>
          <div class="text-wrapper-8">Cachaçaria do Dedé.</div>
          <div class="rectangle-6"></div>
          <div class="text-wrapper-9">Amazonas Shopping, 2 Piso.</div>
          <div class="text-wrapper-10">Tio Armênio.</div>
          <div class="text-wrapper-11">Amazonas Shopping, 2 Piso.</div>
          <img class="images" src="https://c.animaapp.com/h37XWKYs/img/images@2x.png" />
          <img class="img" src="https://c.animaapp.com/h37XWKYs/img/images--2-@2x.png" />
          <img class="images-2" src="https://c.animaapp.com/h37XWKYs/img/images-1@2x.png" />
          <img class="images-3" src="https://c.animaapp.com/h37XWKYs/img/images--1---1--1@2x.png" />
          <div class="ellipse"></div>
          <div class="rectangle-7"></div>
          <div class="rectangle-8"></div>
          <img class="rectangle-9" src="https://c.animaapp.com/h37XWKYs/img/rectangle-72.svg" />
          <div class="ellipse-2"></div>
          <div class="rectangle-10"></div>
          <div class="rectangle-11"></div>
          <img class="rectangle-12" src="https://c.animaapp.com/h37XWKYs/img/rectangle-62.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
